In [1]:
from functions.utils_lots import *
import warnings

warnings.filterwarnings('ignore')

In [2]:
lots = load_data(path='../donnees/lots_cleaned.csv')

In [3]:
lots

,lotId,tedCanId,correctionsNb,cancelled,awardDate,awardEstimatedPrice,awardPrice,cpv,numberTenders,onBehalf,...,contractorSme,numberTendersSme,subContracted,gpa,multipleCae,typeOfContract,topType,renewal,contractDuration,publicityDuration
0,0,2010142,0,0,2009-09-24,100000.0,8.916747e+05,45233226.0,2.0,N,...,N,1.0,N,Y,N,W,OPE,Y,24.00,42.0
1,1,2010142,0,0,2009-09-24,100000.0,1.169251e+05,45233226.0,2.0,N,...,N,1.0,N,Y,N,W,OPE,Y,24.00,42.0
2,2,2010142,0,0,2009-09-24,100000.0,7.381412e+04,45233226.0,2.0,N,...,N,1.0,N,Y,N,W,OPE,Y,24.00,42.0
3,3,2010143,0,0,2009-09-28,100000.0,3.840584e+05,45232150.0,11.0,N,...,N,1.0,N,N,N,W,OPE,Y,24.00,42.0
4,4,2010144,0,0,2009-11-06,100000.0,7.790000e+06,45211000.0,6.0,N,...,N,1.0,N,N,N,W,RES,Y,24.01,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1380960,1380960,2020643360,0,0,2020-12-28,100000.0,5.000000e+05,92200000.0,2.0,N,...,Y,1.0,N,Y,N,S,NIC,Y,96.00,35.0
1380961,1380961,2020643361,0,0,2020-12-10,100000.0,2.000000e+07,65111000.0,2.0,N,...,N,1.0,N,Y,N,S,NIC,Y,24.00,62.0
1380962,1380962,2020643362,0,0,2020-12-17,100000.0,4.984029e+06,85312110.0,3.0,N,...,N,1.0,N,Y,N,S,NIC,Y,60.00,35.0
1380963,1380963,2020643363,0,0,2020-12-11,497000000.0,4.970000e+08,65300000.0,1.0,N,...,N,1.0,N,Y,N,S,NOC,Y,24.00,42.0
1380964,1380964,2020643364,0,0,2020-12-23,1.0,1.000000e+00,65310000.0,1.0,N,...,N,1.0,N,Y,N,S,NOC,Y,24.00,42.0

In [4]:
numeric_columns = [
    'correctionsNb', 'awardEstimatedPrice', 'awardPrice', 'numberTenders', 
    'lotsNumber', 'numberTendersSme','contractDuration','publicityDuration'
]

In [5]:
categorical_columns = [
    'cancelled', 'year', 'cpv', 'onBehalf', 'jointProcurement', 
    'fraAgreement', 'fraEstimated', 'accelerated', 'outOfDirectives',
    'subContracted', 'gpa', 'multipleCae', 'typeOfContract', 'topType', 'renewal'
]

In [6]:
lots = get_awardDate_info(lots)

# Attribut correctionsNb

In [7]:
correctionsNb_corr_cat, correctionsNb_corr_num = get_all_corr_num(
    data = lots, 
    col = 'correctionsNb', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [8]:
correctionsNb_corr_cat

                  correctionsNb
cancelled          9.480703e-01
year               0.000000e+00
cpv                0.000000e+00
onBehalf           0.000000e+00
jointProcurement   1.603950e-01
fraAgreement       3.936684e-82
fraEstimated       0.000000e+00
accelerated        1.091444e-04
outOfDirectives    3.520238e-10
subContracted      3.042481e-02
gpa                8.954503e-01
multipleCae        1.994122e-01
typeOfContract     9.858917e-16
topType            8.303922e-32
renewal            7.884559e-11

In [9]:
correctionsNb_corr_num

                     correctionsNb
correctionsNb             1.000000
awardEstimatedPrice       0.004784
awardPrice                0.007289
numberTenders            -0.000961
lotsNumber                0.017623
numberTendersSme          0.000173
contractDuration          0.010744
publicityDuration         0.002254

# Attribut cancelled

In [10]:
cancelled_corr_cat, cancelled_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'cancelled', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [11]:
cancelled_corr_cat

                  cancelled
year               0.016164
cpv                0.126574
onBehalf           0.001519
jointProcurement   0.002122
fraAgreement       0.001293
fraEstimated       0.011372
accelerated        0.000021
outOfDirectives    0.005760
subContracted      0.001786
gpa                0.003186
multipleCae        0.002108
typeOfContract     0.000440
topType            0.007456
renewal            0.005241

In [12]:
cancelled_corr_num

                        cancelled
correctionsNb        9.480703e-01
awardEstimatedPrice  9.663242e-01
awardPrice           9.839321e-01
numberTenders        1.807947e-07
lotsNumber           9.625471e-01
numberTendersSme     3.277098e-01
contractDuration     4.303333e-01
publicityDuration    7.337837e-02

# Attribut awardDate

In [13]:
awardDate_corr_cat, awardDate_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'year', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [14]:
awardDate_corr_cat

                      year
cancelled         0.016164
cpv               0.190028
onBehalf          0.048843
jointProcurement  0.176685
fraAgreement      0.149655
fraEstimated      0.108228
accelerated       0.042134
outOfDirectives   0.046839
subContracted     0.117440
gpa               0.084575
multipleCae       0.175808
typeOfContract    0.066981
topType           0.036008
renewal           0.321189

In [15]:
awardDate_corr_num

                              year
correctionsNb         0.000000e+00
awardEstimatedPrice   4.027249e-03
awardPrice            9.920153e-01
numberTenders         0.000000e+00
lotsNumber            4.436456e-10
numberTendersSme      0.000000e+00
contractDuration     1.249429e-282
publicityDuration     0.000000e+00

# Attribut awardEstimatedPrice

In [16]:
awardEstimatedPrice_corr_cat, awardEstimatedPrice_corr_num = get_all_corr_num(
    data = lots, 
    col = 'awardEstimatedPrice', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [17]:
awardEstimatedPrice_corr_cat

                  awardEstimatedPrice
cancelled                    0.966324
year                         0.004027
cpv                          1.000000
onBehalf                     0.835213
jointProcurement             0.964926
fraAgreement                 0.313617
fraEstimated                 0.988292
accelerated                  0.916080
outOfDirectives              0.508220
subContracted                0.897348
gpa                          0.435458
multipleCae                  0.964955
typeOfContract               0.589254
topType                      0.756262
renewal                      0.001730

In [18]:
awardEstimatedPrice_corr_num

                     awardEstimatedPrice
correctionsNb                   0.004784
awardEstimatedPrice             1.000000
awardPrice                      0.372229
numberTenders                   0.047202
lotsNumber                     -0.095018
numberTendersSme                0.018143
contractDuration                0.025215
publicityDuration              -0.025717

# Attribut awardPrice

In [19]:
awardPrice_corr_cat, awardPrice_corr_num = get_all_corr_num(
    data = lots, 
    col = 'awardPrice', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [20]:
awardPrice_corr_cat

                  awardPrice
cancelled           0.983932
year                0.992015
cpv                 1.000000
onBehalf            0.702847
jointProcurement    0.820541
fraAgreement        0.653301
fraEstimated        0.999619
accelerated         0.951450
outOfDirectives     0.772263
subContracted       0.021234
gpa                 0.599370
multipleCae         0.821549
typeOfContract      0.778714
topType             0.999958
renewal             0.525194

In [21]:
awardPrice_corr_num

                     awardPrice
correctionsNb          0.007289
awardEstimatedPrice    0.372229
awardPrice             1.000000
numberTenders          0.108275
lotsNumber            -0.212688
numberTendersSme       0.033590
contractDuration       0.050420
publicityDuration      0.004055

# Attribut cpv

In [22]:
cpv_corr_cat, cpv_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'cpv', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [23]:
cpv_corr_cat

                       cpv
cancelled         0.126574
year              0.190028
onBehalf          0.261383
jointProcurement  0.218697
fraAgreement      0.382625
fraEstimated      0.226693
accelerated       0.166995
outOfDirectives   0.293158
subContracted     0.273064
gpa               0.297983
multipleCae       0.218480
typeOfContract    0.948633
topType           0.384610
renewal           0.332123

In [24]:
cpv_corr_num

                     cpv
correctionsNb        0.0
awardEstimatedPrice  1.0
awardPrice           1.0
numberTenders        0.0
lotsNumber           1.0
numberTendersSme     0.0
contractDuration     0.0
publicityDuration    0.0

# Attribut numberTenders

In [25]:
numberTenders_corr_cat, numberTenders_corr_num = get_all_corr_num(
    data = lots, 
    col = 'numberTenders', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [26]:
numberTenders_corr_cat

                  numberTenders
cancelled          1.807947e-07
year               0.000000e+00
cpv                0.000000e+00
onBehalf          2.027473e-230
jointProcurement  1.161363e-220
fraAgreement       0.000000e+00
fraEstimated       0.000000e+00
accelerated        7.820477e-08
outOfDirectives   3.456053e-280
subContracted      2.227459e-07
gpa                1.176853e-76
multipleCae       1.585417e-224
typeOfContract     0.000000e+00
topType            0.000000e+00
renewal           1.254309e-146

In [27]:
numberTenders_corr_num

                     numberTenders
correctionsNb            -0.000961
awardEstimatedPrice       0.047202
awardPrice                0.108275
numberTenders             1.000000
lotsNumber               -0.054762
numberTendersSme          0.075361
contractDuration          0.008113
publicityDuration         0.001097

# Attribut onBehalf

In [28]:
onBehalf_corr_cat, onBehalf_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'onBehalf', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [29]:
onBehalf_corr_cat

                  onBehalf
cancelled         0.001519
year              0.048843
cpv               0.261383
jointProcurement  0.594650
fraAgreement      0.078818
fraEstimated      0.063081
accelerated       0.004168
outOfDirectives   0.028688
subContracted     0.018374
gpa               0.035806
multipleCae       0.590992
typeOfContract    0.083387
topType           0.055041
renewal           0.018293

In [30]:
onBehalf_corr_num

                          onBehalf
correctionsNb         0.000000e+00
awardEstimatedPrice   8.352131e-01
awardPrice            7.028469e-01
numberTenders        2.027473e-230
lotsNumber            5.035923e-01
numberTendersSme      8.874901e-02
contractDuration      2.033622e-04
publicityDuration     1.493263e-46

# Attribut jointProcurement

In [31]:
jointProcurement_corr_cat, jointProcurement_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'jointProcurement', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [32]:
jointProcurement_corr_cat

                 jointProcurement
cancelled                0.002122
year                     0.176685
cpv                      0.218697
onBehalf                 0.594650
fraAgreement             0.074867
fraEstimated             0.086892
accelerated              0.016961
outOfDirectives          0.025248
subContracted            0.004955
gpa                      0.007883
multipleCae              0.993854
typeOfContract           0.041963
topType                  0.037473
renewal                  0.037924

In [33]:
jointProcurement_corr_num

                     jointProcurement
correctionsNb            1.603950e-01
awardEstimatedPrice      9.649256e-01
awardPrice               8.205411e-01
numberTenders           1.161363e-220
lotsNumber               5.968519e-01
numberTendersSme         4.190089e-69
contractDuration         1.717220e-03
publicityDuration       1.290403e-237

# Attribut fraAgreement

In [34]:
fraAgreement_corr_cat, fraAgreement_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'fraAgreement', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [35]:
fraAgreement_corr_cat

                  fraAgreement
cancelled             0.001293
year                  0.149655
cpv                   0.382625
onBehalf              0.078818
jointProcurement      0.074867
fraEstimated          0.171443
accelerated           0.008512
outOfDirectives       0.101491
subContracted         0.025243
gpa                   0.076726
multipleCae           0.074389
typeOfContract        0.175699
topType               0.113494
renewal               0.066503

In [36]:
fraAgreement_corr_num

                      fraAgreement
correctionsNb         3.936684e-82
awardEstimatedPrice   3.136174e-01
awardPrice            6.533006e-01
numberTenders         0.000000e+00
lotsNumber            1.619305e-02
numberTendersSme      2.469355e-01
contractDuration      0.000000e+00
publicityDuration    8.400349e-268

# Attribut fraEstimated

In [37]:
fraEstimated_corr_cat, fraEstimated_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'fraEstimated', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [38]:
fraEstimated_corr_cat

                  fraEstimated
cancelled             0.011372
year                  0.108228
cpv                   0.226693
onBehalf              0.063081
jointProcurement      0.086892
fraAgreement          0.171443
accelerated           0.011920
outOfDirectives       0.064549
subContracted         0.035729
gpa                   0.068943
multipleCae           0.086933
typeOfContract        0.064890
topType               0.042133
renewal               0.072995

In [39]:
fraEstimated_corr_num

                      fraEstimated
correctionsNb         0.000000e+00
awardEstimatedPrice   9.882923e-01
awardPrice            9.996188e-01
numberTenders         0.000000e+00
lotsNumber            9.798417e-01
numberTendersSme     7.406066e-218
contractDuration     1.071327e-193
publicityDuration     0.000000e+00

# Attribut lotsNumber

In [40]:
lotsNumber_corr_cat, lotsNumber_corr_num = get_all_corr_num(
    data = lots, 
    col = 'lotsNumber', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [41]:
lotsNumber_corr_cat

                    lotsNumber
cancelled         9.625471e-01
year              4.436456e-10
cpv               1.000000e+00
onBehalf          5.035923e-01
jointProcurement  5.968519e-01
fraAgreement      1.619305e-02
fraEstimated      9.798417e-01
accelerated       8.871080e-01
outOfDirectives   4.997969e-01
subContracted     4.727115e-04
gpa               2.217241e-01
multipleCae       5.989504e-01
typeOfContract    6.054155e-02
topType           4.054933e-28
renewal           2.358184e-01

In [42]:
lotsNumber_corr_num

                     lotsNumber
correctionsNb          0.017623
awardEstimatedPrice   -0.095018
awardPrice            -0.212688
numberTenders         -0.054762
lotsNumber             1.000000
numberTendersSme      -0.011751
contractDuration      -0.066022
publicityDuration      0.077524

# Attribut accelerated

In [43]:
accelerated_corr_cat, accelerated_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'accelerated', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [44]:
accelerated_corr_cat

                  accelerated
cancelled            0.000021
year                 0.042134
cpv                  0.166995
onBehalf             0.004168
jointProcurement     0.016961
fraAgreement         0.008512
fraEstimated         0.011920
outOfDirectives      0.008768
subContracted        0.005493
gpa                  0.002699
multipleCae          0.017131
typeOfContract       0.002008
topType              0.050916
renewal              0.011378

In [45]:
accelerated_corr_num

                       accelerated
correctionsNb         1.091444e-04
awardEstimatedPrice   9.160801e-01
awardPrice            9.514495e-01
numberTenders         7.820477e-08
lotsNumber            8.871080e-01
numberTendersSme      1.584733e-09
contractDuration      9.655854e-54
publicityDuration    3.008191e-155

# Attribut outOfDirectives

In [46]:
outOfDirectives_corr_cat, outOfDirectives_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'outOfDirectives', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [47]:
outOfDirectives_corr_cat

                  outOfDirectives
cancelled                0.005760
year                     0.046839
cpv                      0.293158
onBehalf                 0.028688
jointProcurement         0.025248
fraAgreement             0.101491
fraEstimated             0.064549
accelerated              0.008768
subContracted            0.102705
gpa                      0.238493
multipleCae              0.025564
typeOfContract           0.179687
topType                  0.908429
renewal                  0.090615

In [48]:
outOfDirectives_corr_num

                     outOfDirectives
correctionsNb           3.520238e-10
awardEstimatedPrice     5.082198e-01
awardPrice              7.722630e-01
numberTenders          3.456053e-280
lotsNumber              4.997969e-01
numberTendersSme        1.222358e-13
contractDuration        0.000000e+00
publicityDuration       1.865272e-61

# Attribut contractorSme

In [49]:
contractorSme_corr_cat, contractorSme_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'contractorSme', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [50]:
contractorSme_corr_cat

                  contractorSme
cancelled              0.005425
year                   0.514727
cpv                    0.216708
onBehalf               0.010624
jointProcurement       0.088784
fraAgreement           0.064807
fraEstimated           0.097551
accelerated            0.028715
outOfDirectives        0.011157
subContracted          0.056991
gpa                    0.039539
multipleCae            0.089019
typeOfContract         0.045599
topType                0.059000
renewal                0.144851

In [51]:
contractorSme_corr_num

                     contractorSme
correctionsNb         1.432625e-13
awardEstimatedPrice   2.319078e-01
awardPrice            5.848798e-01
numberTenders         0.000000e+00
lotsNumber            2.032439e-01
numberTendersSme      0.000000e+00
contractDuration      0.000000e+00
publicityDuration     0.000000e+00

# Attribut numberTendersSme

In [52]:
numberTendersSme_corr_cat, numberTendersSme_corr_num = get_all_corr_num(
    data = lots, 
    col = 'numberTendersSme', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [53]:
numberTendersSme_corr_cat

                  numberTendersSme
cancelled             3.277098e-01
year                  0.000000e+00
cpv                   0.000000e+00
onBehalf              8.874901e-02
jointProcurement      4.190089e-69
fraAgreement          2.469355e-01
fraEstimated         7.406066e-218
accelerated           1.584733e-09
outOfDirectives       1.222358e-13
subContracted         2.931597e-01
gpa                   5.954407e-02
multipleCae           1.311841e-70
typeOfContract        1.301425e-10
topType               2.244789e-33
renewal               1.754725e-55

In [54]:
numberTendersSme_corr_num

                     numberTendersSme
correctionsNb                0.000173
awardEstimatedPrice          0.018143
awardPrice                   0.033590
numberTenders                0.075361
lotsNumber                  -0.011751
numberTendersSme             1.000000
contractDuration            -0.017996
publicityDuration           -0.037005

# Attribut subContracted

In [55]:
subContracted_corr_cat, subContracted_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'subContracted', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [56]:
subContracted_corr_cat

                  subContracted
cancelled              0.001786
year                   0.117440
cpv                    0.273064
onBehalf               0.018374
jointProcurement       0.004955
fraAgreement           0.025243
fraEstimated           0.035729
accelerated            0.005493
outOfDirectives        0.102705
gpa                    0.064516
multipleCae            0.005455
typeOfContract         0.201575
topType                0.113856
renewal                0.045778

In [57]:
subContracted_corr_num

                     subContracted
correctionsNb         3.042481e-02
awardEstimatedPrice   8.973475e-01
awardPrice            2.123399e-02
numberTenders         2.227459e-07
lotsNumber            4.727115e-04
numberTendersSme      2.931597e-01
contractDuration      3.106497e-23
publicityDuration     1.198113e-57

# Attribut gpa

In [58]:
gpa_corr_cat, gpa_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'gpa', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [59]:
gpa_corr_cat

                       gpa
cancelled         0.003186
year              0.084575
cpv               0.297983
onBehalf          0.035806
jointProcurement  0.007883
fraAgreement      0.076726
fraEstimated      0.068943
accelerated       0.002699
outOfDirectives   0.238493
subContracted     0.064516
multipleCae       0.008429
typeOfContract    0.144726
topType           0.246678
renewal           0.044022

In [60]:
gpa_corr_num

                               gpa
correctionsNb         8.954503e-01
awardEstimatedPrice   4.354584e-01
awardPrice            5.993698e-01
numberTenders         1.176853e-76
lotsNumber            2.217241e-01
numberTendersSme      5.954407e-02
contractDuration     1.281556e-134
publicityDuration    4.765256e-125

# Attribut multipleCae

In [61]:
multipleCae_corr_cat, multipleCae_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'multipleCae', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [62]:
multipleCae_corr_cat

                  multipleCae
cancelled            0.002108
year                 0.175808
cpv                  0.218480
onBehalf             0.590992
jointProcurement     0.993854
fraAgreement         0.074389
fraEstimated         0.086933
accelerated          0.017131
outOfDirectives      0.025564
subContracted        0.005455
gpa                  0.008429
typeOfContract       0.042082
topType              0.039024
renewal              0.037243

In [63]:
multipleCae_corr_num

                       multipleCae
correctionsNb         1.994122e-01
awardEstimatedPrice   9.649546e-01
awardPrice            8.215494e-01
numberTenders        1.585417e-224
lotsNumber            5.989504e-01
numberTendersSme      1.311841e-70
contractDuration      1.441287e-05
publicityDuration    1.556871e-227

# Attribut typeOfContract

In [64]:
typeOfContract_corr_cat, typeOfContract_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'typeOfContract', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [65]:
typeOfContract_corr_cat

                  typeOfContract
cancelled               0.000440
year                    0.066981
cpv                     0.948633
onBehalf                0.083387
jointProcurement        0.041963
fraAgreement            0.175699
fraEstimated            0.064890
accelerated             0.002008
outOfDirectives         0.179687
subContracted           0.201575
gpa                     0.144726
multipleCae             0.042082
topType                 0.174155
renewal                 0.144591

In [66]:
typeOfContract_corr_num

                     typeOfContract
correctionsNb          9.858917e-16
awardEstimatedPrice    5.892545e-01
awardPrice             7.787142e-01
numberTenders          0.000000e+00
lotsNumber             6.054155e-02
numberTendersSme       1.301425e-10
contractDuration       0.000000e+00
publicityDuration      0.000000e+00

# Attribut topType

In [67]:
topType_corr_cat, topType_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'topType', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [68]:
topType_corr_cat

                   topType
cancelled         0.007456
year              0.036008
cpv               0.384610
onBehalf          0.055041
jointProcurement  0.037473
fraAgreement      0.113494
fraEstimated      0.042133
accelerated       0.050916
outOfDirectives   0.908429
subContracted     0.113856
gpa               0.246678
multipleCae       0.039024
typeOfContract    0.174155
renewal           0.129935

In [69]:
topType_corr_num

                          topType
correctionsNb        8.303922e-32
awardEstimatedPrice  7.562615e-01
awardPrice           9.999581e-01
numberTenders        0.000000e+00
lotsNumber           4.054933e-28
numberTendersSme     2.244789e-33
contractDuration     0.000000e+00
publicityDuration    0.000000e+00

# Attribut renewal

In [70]:
renewal_corr_cat, renewal_corr_num = get_all_corr_cat(
    data = lots, 
    col = 'renewal', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [71]:
renewal_corr_cat

                   renewal
cancelled         0.005241
year              0.321189
cpv               0.332123
onBehalf          0.018293
jointProcurement  0.037924
fraAgreement      0.066503
fraEstimated      0.072995
accelerated       0.011378
outOfDirectives   0.090615
subContracted     0.045778
gpa               0.044022
multipleCae       0.037243
typeOfContract    0.144591
topType           0.129935

In [72]:
renewal_corr_num

                           renewal
correctionsNb         7.884559e-11
awardEstimatedPrice   1.730071e-03
awardPrice            5.251940e-01
numberTenders        1.254309e-146
lotsNumber            2.358184e-01
numberTendersSme      1.754725e-55
contractDuration      0.000000e+00
publicityDuration     0.000000e+00

# Attribut contractDuration

In [73]:
contractDuration_corr_cat, contractDuration_corr_num = get_all_corr_num(
    data = lots, 
    col = 'contractDuration', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [74]:
contractDuration_corr_cat

                  contractDuration
cancelled             4.303333e-01
year                 1.249429e-282
cpv                   0.000000e+00
onBehalf              2.033622e-04
jointProcurement      1.717220e-03
fraAgreement          0.000000e+00
fraEstimated         1.071327e-193
accelerated           9.655854e-54
outOfDirectives       0.000000e+00
subContracted         3.106497e-23
gpa                  1.281556e-134
multipleCae           1.441287e-05
typeOfContract        0.000000e+00
topType               0.000000e+00
renewal               0.000000e+00

In [75]:
contractDuration_corr_num

                     contractDuration
correctionsNb                0.010744
awardEstimatedPrice          0.025215
awardPrice                   0.050420
numberTenders                0.008113
lotsNumber                  -0.066022
numberTendersSme            -0.017996
contractDuration             1.000000
publicityDuration            0.074305

# Attribut publicityDuration

In [76]:
publicityDuration_corr_cat, publicityDuration_corr_num = get_all_corr_num(
    data = lots, 
    col = 'publicityDuration', 
    num_cols = numeric_columns, 
    cat_cols = categorical_columns
)

In [77]:
publicityDuration_corr_cat

                  publicityDuration
cancelled              7.337837e-02
year                   0.000000e+00
cpv                    0.000000e+00
onBehalf               1.493263e-46
jointProcurement      1.290403e-237
fraAgreement          8.400349e-268
fraEstimated           0.000000e+00
accelerated           3.008191e-155
outOfDirectives        1.865272e-61
subContracted          1.198113e-57
gpa                   4.765256e-125
multipleCae           1.556871e-227
typeOfContract         0.000000e+00
topType                0.000000e+00
renewal                0.000000e+00

In [78]:
publicityDuration_corr_num

                     publicityDuration
correctionsNb                 0.002254
awardEstimatedPrice          -0.025717
awardPrice                    0.004055
numberTenders                 0.001097
lotsNumber                    0.077524
numberTendersSme             -0.037005
contractDuration              0.074305
publicityDuration             1.000000